@media (min-width: 768px) {

    .cols-2{
        grid-template-columns: repeat(2, 1fr);
    }
    .cols-3{
        grid-template-columns: repeat(3, 1fr);
    }
    .cols-4{
        grid-template-columns: repeat(4, 1fr);
    }
    .cols-5{
        grid-template-columns: repeat(5, 1fr);
    }

}